In [2]:
print("Data","Science","Rocks", sep = " - ")

Data - Science - Rocks

In [3]:
print("Processing data", end = "...")
print("Done!")

Processing data...Done!

In [6]:
# Using  f string
name = "Ryan"
age = "12"
print(f"Hello I'm {name} I am {age} years old")

Hello I'm Ryan I am 12 years old

In [7]:
# Using .format
print("Hello I'm {} I am {} years old".format(name , age))

Hello I'm Ryan I am 12 years old

In [1]:
#Basic inputs from the user
input("Enter your name : ")

Enter your name :  Praneela

'Praneela'

In [2]:
name = input("Enter your name : ")

Enter your name :  Praneela

In [3]:
name = input("Enter your name : ")
print(name)

Enter your name :  Ryan

Ryan

In [ ]:
age = int(input("Enter your age : "))
print(age)
type(age)
height = float(input("Enter height :"))
print(height)
type(height)

Enter your age :  12

12